<div class="form-group {{cols}}">
  <label for="{{labelId}}">{{label}}</label>
<!--  <input type="number" class="form-control"  formControlName="phone_number" id="phone_number"-->
<!--         [ngClass]="{'is-invalid': (userForm.get('phone_number').touched ||-->
<!--                                           userForm.get('phone_number').dirty) &&-->
<!--                                           !userForm.get('phone_number').valid }">-->
  <ng-content></ng-content>
<!--<span class="invalid-feedback">-->
<!--          <span *ngIf="userForm.get('{{labelId}}').errors?.required">-->
<!--              {{validationMessage}}-->
<!--            </span>-->
<!--        </span>-->
</div>

